In [1]:
import pandas as pd

In [2]:
# importing csv file
data=pd.read_csv('./data/marketing_customer_analysis.csv')
data.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [ ]:
# Show the DataFrame shape
data.shape

In [ ]:
# Standardize header names
data.columns

In [ ]:
data.columns=[m.lower().replace(' ', '_') for m in data.columns]  
data.columns

In [ ]:
# Which columns are numerical?
data.info()

In [ ]:
data._get_numeric_data().columns

In [ ]:
# Which columns are categorical?
data.select_dtypes('object').columns

In [ ]:
# Check and deal with NaN values
data.isna().sum()

In [ ]:
# check percentage of missing values
round(data.isna().sum()/len(data),4)*100

In [ ]:
#remove missing values of rows
data=data.drop(columns=['state'])

In [ ]:
## drop all rows with nan values
data=data.dropna()
data.isna().sum()

In [ ]:
# Datetime format - Extract the months from the dataset and store in a separate column 
# Then filter the data to show only the information for the first quarter 
# ie. January, February and March. Hint: If data from March does not exist
# consider only January and February
data['effective_to_date'].dtype

In [ ]:
data['effective_to_date'] = pd.to_datetime(data['effective_to_date'], errors='coerce')

In [ ]:
data['effective_to_date'].dtype

In [ ]:
data.head()

In [3]:
# Put all the previously mentioned data transformations into a function.
def clean_data(df):
    df.columns=[m.lower().replace(' ', '_') for m in df.columns]
    df=df.drop(columns=['unnamed:_0', 'state'])
    df=df.dropna()
    df['effective_to_date']=pd.to_datetime(df['effective_to_date'], errors='coerce')
    return df

In [4]:
# Use function
clean_data(data)

,customer,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
2,LZ68649,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,Suburban,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,Suburban,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
10,HG93801,5154.764074,No,Extended,High School or Below,2011-01-02,Employed,M,82730,Urban,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A
13,KR82385,5454.587929,No,Basic,Master,2011-01-26,Employed,M,66334,Suburban,...,0.0,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A
16,FH51383,5326.677654,No,Basic,High School or Below,2011-02-07,Employed,F,76717,Urban,...,0.0,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,PP30874,3579.023825,No,Extended,High School or Below,2011-01-24,Employed,F,28304,Suburban,...,2.0,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A
10903,SU71163,2771.663013,No,Basic,College,2011-01-07,Employed,M,59855,Suburban,...,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A
10904,QI63521,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,0,Suburban,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A
10906,KX53892,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,Urban,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10908,WA60547,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,Urban,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A